.link {
  height: 28px;
  font-size: 9px;
  font-weight: 600;
  text-decoration: none;
  line-height: 19px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin-top: 9px;
  transition: opacity 0.3s ease-in-out;
}

.link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 375px) {
  .link {
    font-size: 11px;
  }
}

@media screen and (min-width: 425px) {
  .link {
    height: 32px;
    font-size: 12px;
  }
}

@media screen and (min-width: 550px) {
  .link {
    height: 32px;
    font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1320px) {
  .link {
    height: 44px;
    font-size: 14px;
    margin-top: 7px;
  }
}
